<link rel="stylesheet" href="../css/tile.css">

<a href="{{ slug }}">
  <article class="tile">
    <h3 class="sr-only">{{ title }}
    </h3>
    <img src="{{ image }}" alt="{{ title }}" width="320" height="180">
  </article>
</a>