.tile {
  display: inline-flex;
  aspect-ratio: 16 / 9;
  border-radius: var(--radius-1);
  overflow: hidden;
  background: var(--gradient-1);
  align-items: center;
}

.tile.category {
  border: 2px solid var(--med-gray);
}
