:root {
  --gradient-1: linear-gradient(to bottom, #353946, #212531);
  --gradient-2: linear-gradient(to bottom, #1c212e, #090a12);
  --med-gray: #464c59;
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
}
