---
layout: theme.liquid
title: Dizzy Plus
---

<section></section>

<section class="categories">
  {% include 'tile', title: 'Dizzy', image: 'https://static.wikia.nocookie.net/logopedia/images/9/9d/Disney_White.svg' %}
</section>

<section>
  {% include 'tile', title: 'My Card', image: 'https://placeimg.com/248/140/people' %}
</section>
